<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.carrio.Screengopher</string>
	<key>CFBundleName</key>
	<string>Screengopher</string>
	<key>CFBundleDisplayName</key>
	<string>Screengopher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>crio</string>
	<key>CFBundleExecutable</key>
	<string>Screengopher</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Tom Carrio</string>
</dict>
</plist>